<div class="summary-overview">
    <div class="greeting-container">
      <p id="greetingUser" class="greeting-user"></p>
      <h1 class="greeting" id="greeting">Good morning</h1>
    </div>
    <div class="button-container">
      <button class="urgent-button" onclick="">
        <div class="btn-urgent-front">
          <div class="flex-row">
            <img src="" alt="clock icon">
            <h2 id="urgentNumber" class="task-number">2</h2>
          </div>
          <p class="btn-text">Tasks urgent</p>
        </div>
        <div class="with-line"></div>
        <div class="btn-urgent-back missed-deadline">
          <h2 id="dueDate"></h2>
          <p id="deadline">Missed Deadline</p>
        </div>
      </button>
  
      <button class="todo-btn" onclick="">
        <div class="todo-btn-row">
          <img src="" alt="toDo Icon">
          <h2 id="ToDoNumber" class="task-number">2</h2>
        </div>
        <p class="btn-text">Tasks To-Do</p>
      </button>
  
      <button class="light-task-btn board" onclick="">
        <div class="flex-row gap-btn-light">
          <div class="summary-boarder-icon">
            <img src="" alt="">
          </div>
          <h2 id="bordTasksNumber" class="task-number">6</h2>
        </div>
        <p class="btn-text">
          Tasks on <br> Board
        </p>
      </button>
  
      <button class="light-task-btn progress" onclick="">
        <div class="flex-row gap-btn-light">
          <div class="summary-boarder-icon">
            <img src="" alt="">
          </div>
          <h2 id="progressTaskNumber" class="task-number">6</h2>
        </div>
        <p class="btn-text">
          Tasks in <br> Progress
        </p>
      </button>
  
      <button class="light-task-btn feedback" onclick="">
        <div class="flex-row gap-btn-light">
          <div class="summary-boarder-icon">
            <img src="" alt="">
          </div>
          <h2 id="feedbackNumber" class="task-number">6</h2>
        </div>
        <p class="btn-text">
          Awaiting <br> Feedback
        </p>
      </button>
  
      <button class="light-task-btn done" onclick="">
        <div class="flex-row gap-btn-light">
          <div class="summary-boarder-icon">
            <img src="" alt="">
          </div>
          <h2 id="doneNumber" class="task-number">6</h2>
        </div>
        <p class="btn-text">
          Tasks <br> done
        </p>
      </button>
    </div>
  </div>
  